.calculatorContainer {
    margin: auto;
}

.calculatorKeys {
    width: 100px;
    height: 70px;
    font-size: 33px;
    display: block;
    border: 1px solid #666;
    background-color: #333;
    background: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0.50, rgb(5,5,5)),
		color-stop(0.50, rgb(71,71,71))
	)
}

.calEqualHeight {
    height: 140px;
}

.calcZeroWidth {
    width: 200px;
}