.result input {
    height: 70px;
    text-align: right;
    background: #ccc;
    box-shadow: none;
    border: none;
}
.calculation {
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}
.result {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}